<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @closet.name %>
</p>
<%= render "items/new", locals: {closet: @closet} %>
<%= render "items/index", locals: {closet: @closet} %>
<br>
<%= link_to 'Back', closets_path %>
